{% extends 'core/base.html' %} {% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    <div class="raw text-white  text-center mb-5">
        <div class="col-sm-4 ">
            <i class="far fa-search-plus mb-3"></i>
            <h3 style="color: bisque;">SEO</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, dolore?</p>


        </div>
        <div class="col-sm-4 ">
            <i class="far fa-radar i-color"></i>
            <h3 style="color: bisque;">WEB_Design</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, dolore?</p>


        </div>

        <div class="col-sm-4 ">
            <i class="far fa-search-plus mb-3 i-color"></i>
            <h3 style="color: bisque;">Web_Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, dolore?</p>


        </div>
    </div>
</div>{% endblock content%}